# ==========================================
# 🔀 DATABASE SWITCHER: 'dev' OR 'prod'
# ==========================================
DB_ENV=prod

# Database names
DB_NAME_DEV=defaultdb
DB_NAME_PROD=antarYudh_Prod

# Aiven Cloud MySQL Credentials
DB_HOST=mysql-xxxx.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=your_aiven_password
DB_PORT=11585

# Server Port
PORT=5000
